<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}
    
    <br>
    <br>

    <h1> Welcome to Portuguese 4 You! </h1>
    <h2> Bem-vindos a Português Para Ti ! </h2>
    <h4> This page will be an easy and helpful guide with the essentials to get around Portugal.</h4>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

     
    
  </body>
  

</html>
